.scrollDownButton {
  background: none;
  width: 3rem;
  height: 5.5rem;
  border: 2px solid $secondary;
  border-radius: 2rem;
  font-size: 2rem;
  cursor: pointer;

  transition: transform 0.3s;

  &:hover {
    transform: translateY(5px);
  }

  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveDown 2.5s infinite;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
