.column {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;

  .title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }

  .list {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    .item {
      display: flex;
      align-items: center;
    }

    .link {
      color: $secondary;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }
}
