.container {
  width: 100%;
  max-width: 8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: $textPrimary;
}

.selectWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .select {
    width: 100%;
    max-width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    color: #777777;
    cursor: pointer;
    outline: none;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }

  .option {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    color: #777777;
    background-color: #ffffff;

    &:checked,
    &[selected] {
      background-color: #e0e0e0;
      color: $primary;
      font-weight: 600;
    }
  }

  .arrow {
    pointer-events: none;
    font-size: 1rem;
    color: #333;
  }
}
