.section {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $textLight;

  .background {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background-color: $primary;

    .image {
      object-fit: cover;
      filter: opacity(0.5);
    }
  }

  .content {
    padding: 6rem 2rem 8rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: 768px) {
      gap: 2rem;
    }

    .title {
      font-size: 3.75rem;
      font-weight: 700;

      @media screen and (max-width: 768px) {
        font-size: 2.5rem;
      }
    }
  }
}
