.section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $backgroundSecondary;

  .contentWrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  .content {
    margin-top: 3.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.625rem;

    @media screen and (max-width: 768px) {
      margin-top: 0;
      align-items: center;
    }

    .title {
      max-width: 25rem;
      font-size: 3.4rem;
      font-weight: 700;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }

    .text {
      max-width: 17rem;
      font-weight: 500;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }

  .imageWrapper {
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 40rem;
    aspect-ratio: 5 / 6;

    @media screen and (max-width: 768px) {
      aspect-ratio: 4 / 3;
    }

    .image {
      object-fit: cover;
    }
  }
}

.bookingWrapper {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  z-index: 10;

  @media screen and (max-width: 1300px) {
    bottom: 0rem;
  }

  @media screen and (max-width: 1280px) {
    position: static;
  }
}
